nav {
    background-color: rgb(8, 74, 117);
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

h1 {
    color: rgb(24, 141, 209);
}

main {
    max-width: 840px;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0/0.1);
    padding: 1em;
    color: #333;
    background-color: #eee;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid rgb(0 0 0/0.3);
    text-align: center;
}